table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 80px;

  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }

  tr:hover {
    background-color: #f9f9f9;
    cursor: pointer;
  }

  tr.selected {
    background-color: #d1e7dd;
  }
}

.good {
  color: #198754;
  font-weight: 600;
}

.mid {
  color: #ffc107;
  font-weight: 500;
}

.bad {
  color: #dc3545;
  font-weight: 600;
}